{% extends '_base.html' %}

{% block title %}{% endblock %}

{% block container %}
    <main class="page-wrapper">
        {% if not user.is_authenticated %}
            {% include 'navbar.html' %}
        {% else %}
            {% include 'navbar_in_logged_state.html' %}
        {% endif %}

        <!-- Iframe (Google map) -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8677.265223755709!2d90.318795256187!3d23.877537724709978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8ada2664e21%3A0x3c872fd17bc11ddb!2sDaffodil%20International%20University!5e0!3m2!1sen!2sbd!4v1689412473042!5m2!1sen!2sbd" width="600" style="border:0;height: 100vh" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>
    {% include 'footer.html' %}
{% endblock %}