{% extends 'blog/_base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block container %}
    <!-- Post title + Meta  -->
    <section class="container mt-4 pt-lg-2 pb-3">
        <h1 class="pb-3" style="max-width: 970px;">{{ post.title }}</h1>
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
            <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
                <div class="fs-xs border-end pe-3 me-3 mb-2">
                    <span class="badge bg-faded-primary text-primary fs-base">{{ post.category }}</span>
                </div>
                <div class="fs-sm border-end pe-3 me-3 mb-2">{{ post.created_at }}</div>
            </div>
            <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
                <img src="assets/img/avatar/39.jpg" class="rounded-circle" width="60" alt="Avatar">
                <div class="ps-3">
                    <h6 class="mb-1">Author</h6>
                    <a class="fw-semibold stretched-link">{{ post.author }}</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Post image (parallax) -->
    <div class="jarallax mb-lg-5 mb-4" data-jarallax data-speed="0.35" style="height: 36.45vw; min-height: 300px;">
        <div class="jarallax-img" style="background-image: url(assets/img/blog/single/cover-image.jpg);"></div>
    </div>


    <!-- Post content + Sharing -->
    <section class="container mb-5 pt-4 pb-2 py-mg-4">
        <div class="row gy-4">

            <!-- Content -->
            <div class="col-lg-9">
                <h2 class="h4">{{ post.title }}</h2>
                <p class="mb-4 pb-2">{{ post.content }}</p>

                <!-- Tags -->
                <hr class="mb-4">
                <div class="d-flex flex-sm-row flex-column pt-2">
                    <h6 class="mt-sm-1 mb-sm-2 mb-3 me-2 text-nowrap">Related Tags:</h6>
                    <div>
                        <a class="btn btn-sm btn-outline-secondary me-2 mb-2">#lifestyle</a>
                        <a class="btn btn-sm btn-outline-secondary me-2 mb-2">#tech</a>
                        <a class="btn btn-sm btn-outline-secondary me-2 mb-2">#business</a>
                    </div>
                </div>
            </div>

            <!-- Sharing -->
            <div class="col-lg-3 position-relative">
                <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important;">
                    <span class="d-block mb-3">5 min read</span>
                    <h6>Share this post:</h6>
                    <div class="mb-4 pb-lg-3">
                        <a class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
                            <i class="bx bxl-linkedin"></i>
                        </a>
                        <a class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                    <button class="btn btn-lg btn-outline-secondary">
                        <i class="bx bx-like me-2 lead"></i>
                        Like it
                        <span class="badge bg-primary shadow-primary mt-n1 ms-3">8</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Comment form + Subscription -->
    <section class="container mb-4 pb-2 mb-md-5 pb-lg-5">
        <div class="row gy-5">

            <!-- Comment form -->
            <div class="col-lg-9">
                <div class="card p-md-5 p-4 border-0 bg-secondary">
                    <div class="card-body w-100 mx-auto px-0" style="max-width: 746px;">
                        <h2 class="mb-4 pb-3">Leave a Comment</h2>
                        <form class="row gy-4 needs-validation" novalidate>
                            <div class="col-sm-6 col-12">
                                <label for="c-name" class="form-label fs-base">Name</label>
                                <input id="c-name" type="text" class="form-control form-control-lg" required>
                                <span class="invalid-tooltip">Please, enter your name.</span>
                            </div>
                            <div class="col-sm-6 col-12">
                                <label for="c-email" class="form-label fs-base">Email</label>
                                <input id="c-email" type="email" class="form-control form-control-lg" required>
                                <span class="invalid-tooltip">Please, provide a valid email address.</span>
                            </div>
                            <div class="col-12">
                                <label for="c-comment" class="form-label fs-base">Comment</label>
                                <textarea id="c-comment" class="form-control form-control-lg" rows="3"
                                          placeholder="Type your comment here..." required></textarea>
                                <span class="invalid-tooltip">Please, enter your comment.</span>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input id="c-save" type="checkbox" class="form-check-input">
                                    <label for="c-save" class="form-check-label">Save my name and email in this browser
                                        for the next time I comment.</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Post comment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
