<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Profile picture view</h2>
<p>{{ user.email }}</p>
<p>{{ user.username }}</p>


<!-- Change Password form -->
<h2>Change Password</h2>
<form action="{% url 'account:profile' %}" method="post">
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit">Change Password</button>
</form>


<!-- Upload profile picture form -->
<h2>Profile Picture</h2>
<form action="{% url 'account:profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="picture" id="picture">
    <button type="submit">Upload Picture</button>
</form>


</body>
</html>