{% load static %}
<footer class="footer dark-mode bg-dark border-top border-light py-5">
    <div class="container pt-2 pt-sm-4">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
                <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
                    TourGuide
                </div>
                <p class="mb-0">We are guide people so that our user can easily find there destination.</p>
            </div>
            <div class="col-md-6 col-xxl-5 offset-lg-1 offset-xl-2 offset-xxl-3">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col pb-2 pb-sm-0 mb-4 mb-sm-0">
                        <h3 class="h5 pb-1 pb-sm-2 pb-lg-3">Contact us</h3>
                        <ul class="nav flex-column mb-3">
                            <li>
                                <a href="tel:01682717766" class="nav-link fs-lg fw-normal px-0 py-1">
                                    <i class="bx bx-phone-call fs-4 me-2"></i>
                                    016 82717766
                                </a>
                            </li>
                            <li>
                                <a href="mailto:email@example.com" class="nav-link fs-lg fw-normal px-0 py-1">
                                    <i class="bx bx-envelope fs-4 me-2"></i>
                                    nishumony420@gmail.com
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex pt-2 pt-sm-3 pt-md-4">
                            <a href="https://www.facebook.com/sheikhnishu/"
                               class="btn btn-icon btn-secondary btn-facebook rounded-circle me-3">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="https://bd.linkedin.com/in/sheikhnishu"
                               class="btn btn-icon btn-secondary btn-linkedin rounded-circle me-3">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                            <a href="https://github.com/sheikhnishu"
                               class="btn btn-icon btn-secondary btn-telegram rounded-circle me-3">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://developers.google.com/profile/u/sheikhnishu"
                               class="btn btn-icon btn-secondary btn-youtube rounded-circle me-3">
                                <i class="bx bxl-google"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col ps-sm-4 ps-md-5">
                        <h3 class="h5 pb-1 pb-sm-2 pb-lg-3">Country</h3>
                        <div class="nav dropdown">
                            <a class="nav-link dropdown-toggle fs-lg fw-normal px-0 py-1"
                               data-bs-toggle="dropdown">
                                USA
                            </a>
                            <div class="dropdown-menu my-1">
                                <a class="dropdown-item fs-base pb-1">
                                    France
                                </a>
                                <a  class="dropdown-item fs-base pb-1">
                                    Germany
                                </a>
                                <a class="dropdown-item fs-base pb-1">
                                    Italy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="nav d-block fs-sm pt-5 mb-0">
            <span class="text-light opacity-60">© All rights reserved. Made by </span>
            <a class="nav-link d-inline-block p-0" href="http://sheikhnishu.com" target="_blank" rel="noopener">Sheikh Nishu</a>
        </p>
    </div>
</footer>